* {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

.contentWindow{
  position: absolute;
  background-color: #ffffff;
}

.resizer{
  position: absolute;
  z-index: 100;
  background-color: #b9c2d6;
}

.verticalResizer{
  cursor: ns-resize;
}

.horizontalResizer{
  cursor: ew-resize;
}